<!DOCTYPE html>
<html lang="en">
<head>
	<title>G-2 Minor FProject</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static\images\icons\favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\vendor\bootstrap\css\bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\fonts\font-awesome-4.7.0\css\font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\fonts\Linearicons-Free-v1.0.0\icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\vendor\animate\animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\vendor\css-hamburgers\hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\vendor\select2\select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static\css\util.css">
	<link rel="stylesheet" type="text/css" href="static\css\main.css">
<!--===============================================================================================-->
<!--jQuery to include Katex format in html-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>

	<!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-bHBqxz8fokvgoJ/sc17HODNxa42TlaEhB+w8ZJXTc2nZf1VgEaFZeZvT4Mznfz0v" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
</head>
<body>


	<div class="container-contact100" style="background-image: url('static/images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Equation Abstractor 
				</span>
				<div class="wrap-input100">
					<img class="input100" id="output" src="static\images\result.png" style="height: auto; width: auto;">
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static\vendor\jquery\jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static\vendor\bootstrap\js\popper.js"></script>
	<script src="static\vendor\bootstrap\js\bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static\vendor\select2\select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static\js\main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

</body>
</html>
